.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #ffffff;
}

.title-icon {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the icon horizontally */
    margin-bottom: 10px;
}

.user-icon {
    font-size: 165px; /* Adjust the size as needed 165 - 200 works best*/
}

.titleContainer {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.input-container-medium {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-box:focus {
    outline: none;
    border-color: #060606;
}

.inputButton {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #060606;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inputButtonForgot {
    padding: 5px;
    font-size: 0.9rem;
    color: black;
    background-color: #d3d3d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.inputButtonForgot:hover {
    background-color: #b0b0b0;
}

.inputButtonForgot:active {
    background-color: #808080;
}

.inputButton:hover {
    background-color: #0056b3;
}

.inputButton:active {
    background-color: #004085;
}

.validation-msg {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
}