.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #ffffff;
}

.titleContainer {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.input-box {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-box:focus {
    outline: none;
    border-color: #060606;
}

.inputButton {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #060606;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inputButton:hover {
    background-color: #0056b3;
}

.inputButton:active {
    background-color: #004085;
}

.create-option {
    margin: 20px 0;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.validation-msg {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
}